@{
    ViewData["Title"] = "Index";
}
<div>
    <h3>Nombre del pais :@ViewBag.paisBuscado.nombre <br></h3>
    <h3>Población del pais: @ViewBag.paisBuscado.poblacion <br></h3>
    <h3>Fecha de independencia del pais: @ViewBag.paisBuscado.fechaIndependencia <br></h3>
    <h3>Atractivos turisticos del pais: @ViewBag.paisBuscado.atractivosTuristicos <br></h3>
</div>




 